#editor
{
    position:absolute;
    top: 125px;
    left:0%;
    right:50%;
    bottom:30%;
}

#live_video
{
    position:absolute;
    top: 125px;
    left:50%;
    right:0%;
    bottom:0%;
}

.disconnected > #disConnectBtn {
    display: none;
}

.disconnected #connectionInfo
{
    color:red;
}
#connectionInfo
{
    color:green;
}

#connectionControls {
    position: relative;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
}

.white-colour {
    color: white;
}
.editor-grey-background {
    background-color: #272822;
}

.margin-top-5px {
    margin-top: 5px;
}