#editor
{
    position:absolute;
    top: 75px;
    left:0%;
    right:50%;
    bottom:30%;
}

#live_video
{
    position:absolute;
    top: 75px;
    left:50%;
    right:0%;
    bottom:0%;
}
#modeSelection{
    float:right;
}

.disconnected
{
    color:red;
}
.connected
{
    color:green;
}